@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap");
body {
  background-image: url(../img/piedrabeige.jpg);
  font-family: 'Krub', sans-serif;
  margin: 0; }

header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 20px;
  box-sizing: border-box; }
  header a {
    font-family: 'Krub', sans-serif;
    color: burlywood;
    text-decoration: none;
    font-weight: 700; }

footer {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: black;
  align-items: center;
  padding: 20px;
  box-sizing: border-box; }
  footer a {
    margin: 5px; }

.logo {
  display: flex;
  height: 50px;
  align-items: center; }

#fondo {
  background-image: url(../img/2fondo.jpg);
  background-color: #383838;
  background-blend-mode: soft-light;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #fondo strong {
    color: aliceblue;
    font-size: 1.5rem; }
  #fondo p {
    color: aliceblue;
    font-size: 1.5rem; }

.boton-padre {
  display: flex;
  justify-content: center; }
  .boton-padre .boton {
    color: black;
    background-color: burlywood;
    padding: 16px 48px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin: 10px;
    border: outset 3px black; }

.nav-padre {
  display: flex;
  list-style: none; }

.nav-hijo a {
  padding: 5px;
  margin: 5px;
  border-radius: 10px; }

.imgpor {
  border-radius: 20px;
  width: 350px;
  margin: 5px; }

.grid-elegirnos {
  background-image: url(../img/piedrabeige.jpg);
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 50px auto auto;
  grid-template-areas: "porque porque porque" "exp dif pro" "exp dif pro";
  justify-content: center;
  align-content: center;
  row-gap: 20px;
  column-gap: 60px;
  height: 100vh;
  border-top: solid 2px black;
  border-bottom: solid 2px black; }
  .grid-elegirnos div {
    color: black;
    text-align: center; }

div #porque {
  grid-area: porque;
  font-size: 1.8rem;
  align-self: center;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-image: none;
  background-color: none; }
div #exp {
  color: white;
  background-color: #222222;
  grid-area: exp;
  font-size: 18px;
  padding: 10px;
  box-shadow: 2px 2px 15px black;
  height: 200px;
  display: flex;
  align-items: center;
  border-bottom: burlywood 5px solid; }
div #dif {
  color: white;
  background-color: #222222;
  grid-area: dif;
  font-size: 18px;
  padding: 10px;
  align-self: center;
  box-shadow: 2px 2px 15px black;
  height: 200px;
  display: flex;
  align-items: center;
  border-bottom: burlywood 5px solid; }
div #pro {
  color: white;
  background-color: #222222;
  grid-area: pro;
  font-size: 18px;
  padding: 10px;
  align-self: center;
  box-shadow: 2px 2px 15px black;
  height: 200px;
  display: flex;
  align-items: center;
  border-bottom: burlywood 5px solid; }

.borde-eleg {
  border: solid 1px black; }

.caja {
  background-color: #222222;
  box-shadow: 5px 5px 20px 5px black;
  height: 480px;
  width: 400px;
  margin: 30px;
  padding: 10px;
  transition: all .5s; }
  .caja .foto {
    border-radius: 30px;
    width: 400px;
    height: 400px; }
  .caja .titulo-caja {
    display: flex;
    color: burlywood;
    font-size: 18px;
    justify-content: center; }

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .servicios h2 {
    display: flex;
    justify-content: center; }

.navegacion label {
  font-size: 30px;
  color: burlywood;
  display: none;
  align-items: center; }

#check {
  display: none; }

div #man {
  grid-area: man; }
div #barba {
  grid-area: barba; }
div #tintura {
  grid-area: tintura; }
div #kid {
  grid-area: kid; }

.staff {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .staff .div-staff {
    box-shadow: 5px 5px 20px 5px black;
    display: flex;
    flex-direction: row;
    background-color: #222222;
    width: 60%;
    margin: 15px;
    border-bottom: burlywood 3px solid; }
    .staff .div-staff strong {
      font-size: 1.5rem;
      padding: 10px;
      color: burlywood; }
    .staff .div-staff p {
      color: white;
      padding: 30px;
      text-align: justify;
      margin-top: 0px; }
    .staff .div-staff .texto-staff {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .staff .foto-staff {
    height: 500px;
    width: 400px; }

.imgpf {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .imgpf h2 {
    margin-bottom: 0px; }
  .imgpf .portfolio-contenedor-fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }

.imgpor {
  border-radius: 25px;
  border: #222222 5px solid;
  border-bottom: burlywood 5px solid;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
  height: auto; }

.mapa {
  display: flex;
  justify-content: center;
  width: 92%;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px; }

.contenedor-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .contenedor-error .title-error {
    color: red;
    font-size: 150px;
    margin: 0px; }
  .contenedor-error .texto-error {
    font-size: 1.1rem; }
  .contenedor-error .mensaje-error {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px; }
    .contenedor-error .mensaje-error .title2-error {
      margin: 0px; }
  .contenedor-error .boton-error {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: limegreen;
    padding: 5px;
    border-radius: 5px; }

@media (min-width: 1100px) {
  .nav-hijo a:hover {
    background-color: burlywood;
    color: black; }

  .flecha {
    position: fixed;
    padding: 1px;
    display: inline-block;
    right: 10px;
    bottom: 50px; }

  .caja:hover {
    box-shadow: 5px 5px 20px black;
    transform: scale(1.05); }

  .servicios-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto auto;
    column-gap: 150px;
    grid-template-areas: "man barba" "tintura kid";
    justify-content: center;
    margin-right: 80px; }

  .contenedor-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh; }
    .contenedor-form .formulario {
      height: 400px;
      width: 40%;
      margin: 15px;
      margin-top: 50px;
      margin-bottom: 50px;
      background-color: #222222;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      padding: 0 20px 10px 20px;
      box-shadow: 5px 5px 20px black; }
      .contenedor-form .formulario .div-form {
        width: 95%;
        padding: 0; }
      .contenedor-form .formulario label {
        color: white;
        font-size: 1rem; }
      .contenedor-form .formulario strong {
        color: burlywood;
        font-size: 1.5rem; }
      .contenedor-form .formulario input, .contenedor-form .formulario textarea {
        color: white;
        width: 100%;
        height: 10px;
        padding: 10px;
        background-color: black;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid burlywood 1px; }
      .contenedor-form .formulario .enviar {
        background-color: black;
        color: white;
        border: none;
        width: 50px;
        height: 30px;
        cursor: pointer;
        transition: all 0.3s; }
        .contenedor-form .formulario .enviar:active {
          background-color: #deb887;
          color: black; }
    .contenedor-form .mapa {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px; }

  .video-contenedor {
    display: flex;
    justify-content: center; }
    .video-contenedor .video-yt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px; }
      .video-contenedor .video-yt strong {
        text-align: center;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: burlywood;
        background-color: #222222; } }
@media (max-width: 1099px) {
  .navegacion label {
    display: block; }
  .navegacion a {
    display: flex;
    color: black;
    padding: 10px; }
  .navegacion ul {
    position: fixed;
    top: 50px;
    height: 100vh;
    width: 100%;
    flex-direction: column; }

  .nav-padre .nav-hijo {
    width: 90px; }

  .navegacion #check:checked ~ .nav-padre {
    background: rgba(222, 184, 135, 0.973);
    width: 94.4%;
    height: 35vh;
    position: absolute;
    left: 0;
    top: 34px;
    display: flex;
    z-index: 1; }

  .grid-elegirnos {
    grid-template-columns: 300px;
    grid-template-rows: 50px auto auto auto;
    grid-template-areas: "porque" "exp" "dif" "pro";
    row-gap: 50px;
    height: 120vh; }

  .caja {
    border-radius: 15px;
    background-color: #222222;
    height: 350px;
    width: 300px;
    margin: 15px;
    padding: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column; }
    .caja .titulo-caja {
      display: flex;
      color: burlywood;
      font-size: 16px;
      margin: 0; }
      .caja .titulo-caja h3 {
        margin-top: 12px;
        margin-bottom: 12px; }
    .caja .foto {
      border-radius: 15px;
      width: 300px;
      height: 300px; }

  .flecha {
    display: none; }

  div#porque {
    font-size: 22px; }

  .servicios-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .contenedor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 91vh; }
    .contenedor-form .formulario {
      height: 400px;
      width: 85%;
      margin: 15px;
      margin-bottom: 50px;
      background-color: #222222;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      padding: 0 20px 10px 20px;
      box-shadow: 5px 5px 20px black; }
      .contenedor-form .formulario .div-form {
        width: 95%;
        padding: 0; }
      .contenedor-form .formulario label {
        color: white;
        font-size: 1rem; }
      .contenedor-form .formulario strong {
        color: burlywood;
        font-size: 1.5rem; }
      .contenedor-form .formulario input, .contenedor-form .formulario textarea {
        color: white;
        width: 100%;
        height: 10px;
        padding: 10px;
        background-color: black;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid burlywood 1px; }
      .contenedor-form .formulario .enviar {
        background-color: black;
        color: white;
        border: none;
        width: 50px;
        height: 30px;
        cursor: pointer;
        transition: all 0.3s; }
        .contenedor-form .formulario .enviar:active {
          background-color: #deb887;
          color: black; }

  .staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; }
    .staff .div-staff {
      box-shadow: 5px 5px 20px 5px black;
      display: flex;
      flex-direction: row;
      background-color: #222222;
      width: 90%;
      height: 350px;
      margin: 10px;
      align-items: center;
      padding: 10px;
      overflow: auto;
      border-bottom: burlywood 3px solid; }
      .staff .div-staff strong {
        font-size: 1.2rem;
        padding: 10px;
        padding-bottom: 0px;
        color: burlywood; }
      .staff .div-staff p {
        color: white;
        padding: 10px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px; }
      .staff .div-staff .texto-staff {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .staff .foto-staff {
      height: 200px;
      width: 150px; }

  .mapa {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px; }

  .video-contenedor {
    display: flex;
    justify-content: center; }
    .video-contenedor .video-yt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px; }
      .video-contenedor .video-yt strong {
        text-align: center;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: burlywood;
        background-color: #222222; }

  #fondo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #fondo p {
      text-align: center; }

  .imgpf {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .imgpf h2 {
      margin-bottom: 0px; }

  .imgpor {
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 70%;
    height: auto; }

  .texto-error {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1rem; }

  .mensaje-error {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px; } }
@media (min-width: 625px) and (max-width: 1099px) {
  .staff {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .staff .div-staff {
      box-shadow: 5px 5px 20px 5px black;
      display: flex;
      flex-direction: row;
      background-color: #222222;
      width: 70%;
      height: 500px;
      margin: 10px;
      align-items: center;
      overflow: auto; }
      .staff .div-staff strong {
        font-size: 1.2rem;
        padding: 10px;
        padding-bottom: 0px;
        color: burlywood; }
      .staff .div-staff p {
        color: white;
        padding: 10px;
        text-align: justify;
        margin-top: 0px;
        margin-bottom: 0px; }
      .staff .div-staff .texto-staff {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .staff .foto-staff {
      height: 300px;
      width: auto; }

  .video-contenedor {
    display: flex;
    justify-content: center; }
    .video-contenedor .video-yt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 65%;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px; }
      .video-contenedor .video-yt strong {
        text-align: center;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: burlywood;
        background-color: #222222; } }

/*# sourceMappingURL=style.css.map */
