@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

body{
    font-family: 'Krub', sans-serif;
    margin: 0;
}

header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

footer{
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: black;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

footer a{
    margin: 5px;
}

.logo{
    display: flex;
}

#fondo{
    background-image: url(../img/2fondo.jpg);
    background-size: cover;
    padding: 160px 50px 160px 50px;
}

#fondo p{
    color: aliceblue;
}

.boton{
    background-color: burlywood;
    color: black;
    padding: 16px 48px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin: 10px;
}

header a{
    font-family: 'Krub', sans-serif;
    color: burlywood;
    text-decoration: none;
    font-weight: 700;
}

.navegacion a{
    margin: 10px;
}

.staff{
    width: 400px;
    height: 600px;
}

.flecha{
    position: fixed;
    padding: 1px;
    display: inline-block;
    right:10px;
    bottom: 50px;
}

.imgpor {
    border-radius: 20px;
    width: 350px;
    margin: 5px;
}

.grid-elegirnos{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px auto auto;
    grid-template-areas: 
    "porque porque porque"
    "exp dif pro"
    "exp dif pro";
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    column-gap: 100px;
    height: 575px;
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid;

}

div#porque{
    grid-area: porque;
}

div#exp{
    grid-area: exp;
}

div#dif{
    grid-area: dif;
}

div#pro{
    grid-area: pro;
}

.borde-eleg{
    border: solid 1px black;
}

 .grid-elegirnos div{
    background-color: bisque;
    text-align: center;
    border: 1px solid;
}

.caja{
    border-radius: 15px;
    background-color: black;
    height: 480px;
    width: 400px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
    margin: 30px;
    padding: 10px;
}

.caja .foto{
    border-radius: 15px;
    width: 400px;
    height: 400px;
}

.caja .titulo-caja{
    display: flex;
    color: bisque;
    font-size: 18px;
    justify-content: center;

}

.servicios h2{
    display: flex;
    justify-content: center;
}

