@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');
@import './partials/variables';

@mixin colores ($color-text, $color-fondo){
    color: $color-text;
    background-color: $color-fondo;
}

body{
    background-image: url(../img/piedrabeige.jpg);
    font-family: 'Krub', sans-serif;
    margin: 0;
}

header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: $color-secundario;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    a{
        font-family: 'Krub', sans-serif;
        color: $color-principal;
        text-decoration: none;
        font-weight: 700;
    }
}

footer{
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: $color-secundario;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    a{
        margin: 5px;
    }
}

.logo{
    display: flex;
    height: 50px;
    align-items: center;
}

#fondo{
    background-image: url(../img/2fondo.jpg);
    background-color: rgb(56, 56, 56);
    background-blend-mode:soft-light;
    background-size: cover;
    // padding: 220px 50px 220px 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    strong{
        color: aliceblue;
        font-size: 1.5rem;
    }

    p{
        color: aliceblue;
        font-size: 1.5rem;
    }

}

.boton-padre{
    display: flex;
    justify-content: center;

    .boton{
        @include colores($color-secundario, $color-principal);
        padding: 16px 48px;
        text-decoration: none;
        font-weight: 600;
        display: inline-block;
        margin: 10px;
        border: outset 3px black;
        // background-image: linear-gradient(to right, #f7d4a7, #f1cd9f, #eac697, #e4bf8f, #deb887);
    }
}


.nav-padre{
    display: flex;
    list-style: none;
}

.nav-hijo{ 
    a{
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
    }
}

.imgpor{
    border-radius: 20px;
    width: 350px;
    margin: 5px;
}

.grid-elegirnos{
    background-image: url(../img/piedrabeige.jpg);
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 50px auto auto;
    grid-template-areas: 
    "porque porque porque"
    "exp dif pro"
    "exp dif pro";
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    column-gap: 60px;
    height: 100vh;
    border-top: solid 2px black;
    border-bottom: solid 2px black;

    div{
        color: black;
        text-align:center;
        // background-image: linear-gradient(to right bottom, #deb887, #f8c2b2, #fdd4db, #f9eaf6, #ffffff);
        // background-image: linear-gradient(to right, #f7d4a7, #f1cd9f, #eac697, #e4bf8f, #deb887);
        // background-image: linear-gradient(to right bottom, #deb887, #f4bea7, #fdcac8, #fcd9e4, #f9eaf6, #f9eaf6, #f9eaf6, #f9eaf6, #fcd9e4, #fdcac8, #f4bea7, #deb887);
    }
}

div{
    #porque{
        grid-area: porque;
        font-size: 1.8rem;
        align-self: center;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        background-image: none;
        background-color: none;
    }

    #exp{
        @include colores(white, $color-terciario);
        grid-area: exp;
        font-size: 18px;
        padding: 10px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
        height: 200px;
        display: flex;
        align-items: center;
        border-bottom: $color-principal 5px solid;
    }

    #dif{
        @include colores(white, $color-terciario);
        grid-area: dif;
        font-size: 18px;
        padding: 10px;
        align-self: center;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
        height: 200px;
        display: flex;
        align-items: center;
        border-bottom: $color-principal 5px solid;
    }

    #pro{
        @include colores(white, $color-terciario);
        grid-area: pro;
        font-size: 18px;
        padding: 10px;
        align-self: center;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
        height: 200px;
        display: flex;
        align-items: center;
        border-bottom: $color-principal 5px solid;
    }
}

.borde-eleg{
    border: solid 1px black;
}

.caja{
    background-color: $color-terciario;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 1);
    height: 480px;
    width: 400px;
    margin: 30px;
    padding: 10px;
    transition: all .5s;

    .foto{
        border-radius: 30px;
        width: 400px;
        height: 400px;
    }

    .titulo-caja{
        display: flex;
        color: $color-principal;
        font-size: 18px;
        justify-content: center;
    }

}

.servicios{ 
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
        display: flex;
        justify-content: center;
    }
}

.navegacion{
    label{
        font-size: 30px;
        color: $color-principal;
        display: none;
        align-items: center;
    }
}

#check{
    display: none;
}

div{
    #man{
        grid-area: man;
    }

    #barba{
        grid-area: barba;
    }

    #tintura{
        grid-area: tintura;
    }

    #kid{
        grid-area: kid;
    }
}

.staff{
    display: flex;
    flex-direction: column;
    align-items: center;

    .div-staff{
        box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: row;
        background-color: $color-terciario;
        width: 60%;
        margin: 15px;
        border-bottom: $color-principal 3px solid;

        strong{
            font-size: 1.5rem;
            padding: 10px;
            color: $color-principal;
        }

        p{
            color: white;
            padding: 30px;
            text-align: justify;
            margin-top: 0px;
        }

        .texto-staff{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


    .foto-staff{
        height: 500px;
        width: 400px;
    }
}

.imgpf{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2{
        margin-bottom: 0px;
    }

    .portfolio-contenedor-fotos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.imgpor{
    border-radius: 25px;
    border: $color-terciario 5px solid;
    border-bottom: $color-principal 5px solid;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    height: auto;

}

.mapa{
    display: flex;
    justify-content: center;
    width: calc(90%-20px);
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}


.contenedor-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .title-error{
        color: red;
        font-size: 150px;
        margin: 0px;
    }

    .texto-error{
        font-size: 1.1rem;
    }

    .mensaje-error{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .title2-error{
            margin: 0px;
        }
    }

    .boton-error{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: black;
        background-color: limegreen;
        padding: 5px;
        border-radius: 5px;
    }
}



@import './partials/queries';