@media (min-width:900px){
    .nav-hijo{
        a{
            &:hover{
                background-color: $color-principal;
                color: $color-secundario;
            }
        }
    }
    .flecha{
        position: fixed;
        padding: 1px;
        display: inline-block;
        right:10px;
        bottom: 50px;
    }
    .caja:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
        transform: scale(1.05);
    }

    .servicios-container{
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: auto auto;
        column-gap: 150px;
        grid-template-areas: 
        "man barba"
        "tintura kid";
        justify-content: center;
        margin-right: 80px;
    }
    
    .contenedor-form{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        .formulario{
            height: 400px;
            width: 40%;
            margin: 15px;
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: #222222;
            display: flex;
            flex-direction: column;
            align-items:start;
            justify-content: space-around;
            padding: 0 20px 10px 20px;
            box-shadow: 5px 5px 20px rgb(0, 0, 0);
    
    
            .div-form{
                width: calc(95%);
                padding: 0;
    
            }
    
            label{
                color: white;
                font-size: 1rem;
            }
    
            strong{
                color: $color-principal;
                font-size: 1.5rem;
            }
    
            input,textarea{
                color: white;
                width: 100%;
                height: 10px;
                padding: 10px;
                background-color: black;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: solid $color-principal 1px;
            }
    
            .enviar{
                background-color: black;
                color: white;
                border: none;
                width: 50px;
                height: 30px;
                cursor: pointer;
                transition: all 0.3s;
    
                &:active{
                    background-color: #deb887;
                    color: black;
                }
            }
        }

        .mapa{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            margin-top: 50px;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .video-contenedor{
        display: flex;
        justify-content: center;
    
        .video-yt{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            margin-top: 50px;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
    
            strong{
                text-align: center;
                width: 100%;
                padding-top: 7px;
                padding-bottom: 7px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                color: $color-principal;
                background-color: $color-terciario;
            }
        }
    }
}



@media (max-width:900px){
    .navegacion{
        label{
            display: block;
        }

        a{
            display: flex;
            color: $color-secundario;
            padding: 10px;
        }

        ul{
            position: fixed;
            top: 50px;
            height: 100vh;
            width: 100%;
            flex-direction: column;
        }
    }

   .nav-padre .nav-hijo{
    width: 90px;
   }

   .navegacion #check:checked ~ .nav-padre {
        background: rgba(222, 184, 135, 0.973);
        width: 94.4%;
        height: 35vh;
        position: absolute;
        left: 0;
        top: 34px;
        display: flex;
        z-index: 1;
   }

   .grid-elegirnos{
    grid-template-columns: 300px;
    grid-template-rows: 50px auto auto auto;
    grid-template-areas: 
    "porque"
    "exp"
    "dif"
    "pro";
    row-gap: 50px;
    height: 120vh;
   }

   .caja{
    border-radius: 15px;
    background-color: $color-terciario;
    height: 350px;
    width: 300px;
    margin: 15px;
    padding: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;

    .titulo-caja{
        display: flex;
        color: $color-principal;
        font-size: 16px;
        margin: 0;
        h3{
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }

    .foto{
        border-radius: 15px;
        width: 300px;
        height: 300px;
    }
}

.flecha{
    display: none;
}

div#porque{
    font-size: 22px;
}

.servicios-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-form{
    display: flex;
    flex-direction: column;

    .formulario{
        height: 400px;
        width: calc(100%-30px);
        margin: 15px;
        margin-bottom: 50px;
        background-color: #222222;
        display: flex;
        flex-direction: column;
        align-items:start;
        justify-content: space-around;
        padding: 0 20px 10px 20px;
        box-shadow: 5px 5px 20px rgb(0, 0, 0);


        .div-form{
            width: calc(95%);
            padding: 0;

        }

        label{
            color: white;
            font-size: 1rem;
        }

        strong{
            color: $color-principal;
            font-size: 1.5rem;
        }

        input,textarea{
            color: white;
            width: 100%;
            height: 10px;
            padding: 10px;
            background-color: black;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid $color-principal 1px;
        }

        .enviar{
            background-color: black;
            color: white;
            border: none;
            width: 50px;
            height: 30px;
            cursor: pointer;
            transition: all 0.3s;

            &:active{
                background-color: #deb887;
                color: black;
            }
        }
    }

}

.staff{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    .div-staff{
        box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: row;
        background-color: $color-terciario;
        width: 90%;
        height: 350px;
        margin: 10px;
        align-items: center;
        padding: 10px;
        overflow: auto;
        border-bottom: $color-principal 3px solid;

        strong{
            font-size: 1.2rem;
            padding: 10px;
            padding-bottom: 0px;
            color: $color-principal;
        }

        p{
            color: white;
            padding: 10px;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .texto-staff{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


    .foto-staff{
        height: 200px;
        width: 150px;
    }
}

    .mapa{
        display: flex;
        justify-content: center;
        width: calc(90%-20px);
        margin-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .video-yt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(90%-20px);
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;

        strong{
            text-align: center;
            width: 100%;
            padding-top: 7px;
            padding-bottom: 7px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: $color-principal;
            background-color: $color-terciario;
        }
    }

    #fondo{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            text-align: center;
        }
    }

    .imgpf{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2{
            margin-bottom: 0px;
        }
    }

    .imgpor{
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
        width: 70%;
        height: auto;
    }
}







@media (min-width:900px) and (max-width: 1100px) {
    .staff{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .div-staff{
            box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 1);
            display: flex;
            flex-direction: row;
            background-color: $color-terciario;
            width: 70%;
            height: 500px;
            margin: 10px;
            align-items: center;
            overflow: auto;
    
            strong{
                font-size: 1.2rem;
                padding: 10px;
                padding-bottom: 0px;
                color: $color-principal;
            }
    
            p{
                color: white;
                padding: 10px;
                text-align: justify;
                margin-top: 0px;
                margin-bottom: 0px;
            }
    
            .texto-staff{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    
    
        .foto-staff{
            height: 500px;
            width: 400px;
        }
    
    }
}